* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* ------- top-navigation ------- */

.nav {
  background-color: #bdd0fb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.menu__item {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.menu__item {
  padding: 1rem;
}

.menu__item:hover {
  background-color: white;
  border-bottom: 1px solid #fe7062;
}

.hamburger {
  position: relative;
}

.hamburger__content {
  display: none;
  left: 0;
  top: 50px;
  width: inherit;
  position: absolute;
}

.hamburger__item {
  display: block;
  background-color: #bcd0fb;
  padding: 0.5rem;
}

.hamburger__item:hover {
  background-color: #fe7062;
}

.active {
  display: block;
}

/* nefunguje!!! */
.nav__logo  {
  padding-left: 1rem;
}

/* -------- main-page --------- */
.container {
  min-height: 200px;
  padding: 20px;
}

.content__header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #1b0e91;
  margin: 0;
}

.container__image {
  max-width: 300px;
}


img {
  width: 100%;
  justify-content: center;
}

.container-intro {
  display: flex;
  flex-wrap: wrap;
}

.container-info {
  background-color: #e7edfd;
}

@media (min-width: 768px) {
  .container-intro {
    flex-wrap: nowrap;
  }
}
