* {
  box-sizing: border-box;
}

/* ------- top-navigation ------- */

.nav {
  background-color: #bdd0fb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.menu__item {
  padding: 1rem;
}

.menu__item:hover {
  background-color: lightcoral;
}

.hamburger {
  position: relative;
}

.hamburger__content {
  display: none;
  left: 0;
  top: 50px;
  min-width: 69px;
  position: absolute;
}

.hamburger__item {
  display: block;
  background-color: grey;
  padding: 0.5rem;
}

.hamburger__item:hover {
  background-color: lightcoral;
}

.active {
  display: block;
}
