* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* ------- top-navigation ------- */

.nav {
  background-color: #bdd0fb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  padding-left: 1rem;
}

.menu__item {
  display: inline-block;
  padding: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.menu__item:hover {
  background-color: white;
  border-bottom: 1px solid #fe7062;
}

.hamburger {
  position: relative;
}

.hamburger__content {
  display: none;
  left: 0;
  top: 50px;
  width: inherit;
  position: absolute;
}

.hamburger__item {
  display: block;
  background-color: #bcd0fb;
  padding: 0.5rem;
}

.hamburger__item:hover {
  background-color: #fe7062;
}

.active {
  display: block;
}


/* -------- main-page --------- */

.container {
  min-height: 200px;
  padding: 30px;
}

.content__header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #1b0e91;
  margin: 16px 0;
}

.container-intro-description {
  font-size: 1.3rem;
}

.container__image {
  max-width: 300px;
}

img {
  width: 100%;
  justify-content: center;
}

.container-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.container-info {
  background-color: #e7edfd;
}

.header--intro {
  margin-bottom: 32px;
}

/* ------- footer -------- */

.container-footer {
  display: none;
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin: 0 auto;
  width: 100%;
  font-size: 10px;
}

svg {
  width: 60px;
  margin-left: 10px;
}

/* -------- profile-page --------- */

.container__profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile__description {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
}

.profile__header {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #1b0e91;
  margin: 0;
  padding-left: 3rem;
}

.profile__content {
  background-color: #e7edfd;
  padding: 3rem;
  max-height: 400px;
}

.profile__pic {
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 50%;
  height: 13rem;
  width: 13rem;
  object-fit: cover;
}

/* ------ responsivity ----- */

@media (min-width: 400px) {
  .nav__menu {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .container {
    display: flex;
  }

  .container-intro {
    flex-wrap: nowrap;
  }

  .container__content {
    margin: 0 30px;
    max-width: 850px;
    line-height: 1.5rem;
  }

  .container-intro-description {
    line-height: 2rem;

  }
  
  .profile__pic {
    margin-left: 5rem;
  }
}
